<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>관리자 전용 페이지입니다.</h1>

<table>
    <thead>
    <th scope="col">신청 번호</th>
    <th scope="col">신청자 이름</th>
    </thead>
    <tbody>
    <tr th:each="list : ${lists}">
        <td th:text="${list.trainerListId}">신청자 번호</td>
        <td th:text="${list.member.memberName}">신청자 이름</td>

        <form th:action="@{/accept_proc}" method="post">
            <input type="hidden" name="acceptMemberId" th:value="${list.member.memberId}"/>
            <td>
                <button type="submit">트레이너 수락</button>
            </td>
        </form>

        <form th:action="@{/reject_proc}" method="post">
            <input type="hidden" name="rejectMemberId" th:value="${list.member.memberId}"/>
            <td>
                <button type="submit">트레이너 거절</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>

</body>
</html>