<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>myPage</h1>

<div class="myPage-Box" th:object="${currentMember}">
    <ul>
        <li>
            <label>사용자 이름</label>
            <input type="text" th:value="${currentMember.memberName}" disabled/>
        </li>
        <li>
            <label>사용자 아이디</label>
            <input type="text" th:value="${currentMember.memberLoginId}" disabled/>
        </li>
        <li>
            <label>사용자 이메일</label>
            <input type="text" th:value="${currentMember.memberEmail}" disabled/>
        </li>
    </ul>
    <h3>나의 리뷰</h3>
    <ul th:each="review : ${myReview}">
        <li th:text="${review.modifiedDate}">리뷰 작성일</li>
        <li th:text="${review.reviewContent}">리뷰 내용</li>
        <li th:text="${review.trainer.trainerName}">트레이너 이름</li>
        <li th:text="${review.member.memberName}">멤버 이름</li>
    </ul>
    <div th:if="*{role == role.MEMBER}">
        <form th:action="@{/request_proc}" method="post">
            <th:block sec:authorize="hasAuthority('ROLE_MEMBER')">
                <button type="submit">트레이너 신청하기</button>
            </th:block>
        </form>
    </div>
</div>


</body>
</html>