<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>myPage</h1>

<div class="myPage-Box" th:object="${currentMember}">
    <ul>
        <li>
            <label>사용자 이름</label>
            <input type="text" th:value="*{memberName}" disabled/>
        </li>
        <li>
            <label>사용자 아이디</label>
            <input type="text" th:value="*{memberLoginId}" disabled/>
        </li>
        <li>
            <label>사용자 이메일</label>
            <input type="text" th:value="*{memberEmail}" disabled/>
        </li>
    </ul>
    <form th:action="@{/request_proc}" method="post">
        <th:block sec:authorize="hasAuthority('ROLE_MEMBER')">
        <button type="submit">트레이너 신청하기</button>
        </th:block>
    </form>
</div>


</body>
</html>