<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>트레이너 찾기 페이지</h1>
<table >
    <thead>
    <th scope="col">트레이너 번호</th>
    <th scope="col">트레이너 이름</th>
    <th scope="col">회원 등급</th>
    </thead>
    <tbody>
    <tr th:each="list: ${trainerList}">
    <td th:text="${list.memberId}"></td>
    <td th:text="${list.memberName}"></td>
    <td th:text="${list.role}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>