<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>트레이너 상세 페이지</h1>
<table>
    <thead>
    <th scope="col">트레이너 번호</th>
    <th scope="col">트레이너 이름</th>
    <th scope="col">회원 등급</th>
    </thead>
    <tbody>
    <tr th:object="${trainer}">
        <td th:text="${trainer.trainerId}"></td>
        <td th:text="${trainer.trainerName}"></td>
        <td th:text="${trainer.role.value}"></td>
    </tr>
    </tbody>
    <!--    리뷰 조회하기 추가-->
    <h2>리뷰</h2>
    <ul th:each="review : ${reviewList}">
        <li th:text="${review.reviewId}">리뷰 번호</li>
        <li th:text="${review.member.memberName}">리뷰 작성자</li>

<!--        트레이너 확인용-->
        <li th:text="${review.trainer.trainerName}">리뷰 작성된 트레이너</li>

        <li th:text="${review.reviewContent}">리뷰 내용</li>
        <li th:text="${review.createdDate}">작성일</li>
    </ul>
    <h2>리뷰 작성</h2>
    <form th:action="@{/trainer/submitReview}" method="post">
        <div>
            <input type="hidden" name="trainerLoginId" th:value="${trainer.trainerLoginId}"/>
            <label for="reviewContent">리뷰 내용:</label>
            <textarea id="reviewContent" name="reviewContent" rows="4" cols="50"></textarea>
        </div>
        <button type="submit">리뷰 작성하기</button>
    </form>
</table>
</body>
</html>